input{
    display: block;
    margin: 10px 0;
    padding: 4px 8px;
    width: 40%;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin: 8px 0;
}

@media (max-width:700px){
  input{
    width: 80%;
  }
}